<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GertrudaClimateControlMain.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <GertrudaClimateControlMain.My.MySettings>
            <setting name="COMPORT" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="PETNAME" serializeAs="String">
                <value>MegaSpider</value>
            </setting>
            <setting name="CRITICAL_T_MAX" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="CRITICAL_H_MAX" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="SMS_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMS_TEXT" serializeAs="String">
                <value />
            </setting>
            <setting name="SMS_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="SMS_FROM" serializeAs="String">
                <value />
            </setting>
            <setting name="SMS_TO" serializeAs="String">
                <value />
            </setting>
            <setting name="SMS_MSG_TMPL" serializeAs="String">
                <value>Attention! Your Pet ({PET_NAME}) be in a position to unfavorable atmospheric ambience</value>
            </setting>
            <setting name="CRITICAL_H_MIN" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="CRITICAL_T_MIN" serializeAs="String">
                <value>23</value>
            </setting>
        </GertrudaClimateControlMain.My.MySettings>
    </userSettings>
</configuration>